html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body{
    padding-top: 50px;
    width: 100%;
    height: 100%;
}
.home-background { 
        background-image: url("Images/backgroundwebsite.jpeg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
}

.home-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-bottom: 10%;
    border-bottom:2px solid #1a1a1a;
}

.education-background { 
    background: linear-gradient(to bottom, #202020 20%, #303030 100%);
    background-size: 100% 100%;
    border-bottom:2px solid #1a1a1a;
}

.work-background { 
    background: linear-gradient(to bottom, #404040 20%, #505050 100%);
    background-size: 100% 100%;
    border-bottom:2px solid #1a1a1a;
}

.project-background { 
    color:#ffffff;
    background: linear-gradient(to bottom, #202020 20%, #303030 100%);
    background-size: 100% 100%;
    border-bottom:2px solid #1a1a1a;
}

.skills-background { 
    color:#ffffff;
    background: linear-gradient(to bottom, #404040 20%, #505050 100%);
    background-size: 100% 100%;
    border-bottom:2px solid #1a1a1a;
}

.contact-background{
    background-color:#2f2f2f;
    color:#ffffff;
    background-size: 100% 100%;
}

.btn-padding {
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}

.containerPadder{
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}


.container-carder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.anchor{
    display: block;
    height: 50px; /*same height as header*/
    margin-top: -50px; 
    visibility: hidden;
}

.img-circle{
    border-radius: 50%;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}